<div class="employees-page">
  <app-spinner *ngIf="loading"></app-spinner>
  <ng-container *ngIf="!loading">
    <h2>Employee List</h2>

    <div class="status-filter">
      <button (click)="filterByStatus('active')">Active</button>
      <button (click)="filterByStatus('inactive')">Inactive</button>
      <button (click)="clearStatusFilter()">All</button>
    </div>

    <!-- added (ngModelChange) to update on typing -->
    <!-- I first created filter pipe, then got rid of it to filter in comp instead-->
    <!-- It's back again only because I wanted to use the file-->
    <input
      appHoverHighlight
      type="text"
      placeholder="Search by name or department"
      [(ngModel)]="searchTerm"
      (ngModelChange)="currentPage = 1"
    />
    <!-- resets to page 1 when searching -->

    <button *appIfUserIsAdmin [routerLink]="['/employees/new']" class="new-btn">
      + New Employee
    </button>

    <table class="employee-table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Status</th>
          <th>Hired</th>
        </tr>
      </thead>

      <tbody>
        <!-- used pipe and pagination here -->
        <!-- the problem was because pagination logic happened in comp, using pipe only affected first page-->
        <!-- now with resetting currentPage to 1, it's fixed-->
        <tr
          *ngFor="let emp of getPaginated(employees | filter : searchTerm)"
          app-employee-item
          [employee]="emp"
        ></tr>
      </tbody>
    </table>

    <div class="pagination">
      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>

      <ng-container
        *ngFor="let page of [].constructor(totalPages); let i = index"
      >
        <button
          (click)="changePage(i + 1)"
          [class.active]="currentPage === i + 1"
        >
          {{ i + 1 }}
        </button>
      </ng-container>

      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        Next
      </button>
    </div>
  </ng-container>
</div>
