<div class="employees-page">
  <app-spinner *ngIf="loading"></app-spinner>
  <ng-container *ngIf="!loading">
    <h2>Employee List</h2>
    <div class="status-filter">
      <button (click)="filterByStatus('active')">Active</button>
      <button (click)="filterByStatus('inactive')">Inactive</button>
      <button (click)="clearStatusFilter()">All</button>
    </div>
    <input
      appHoverHighlight
      type="text"
      placeholder="Search by name or department"
      [(ngModel)]="searchTerm"
    />
    <button *appIfUserIsAdmin [routerLink]="['/employees/new']" class="new-btn">
      + New Employee
    </button>

    <table class="employee-table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Status</th>
          <th>Hired</th>
        </tr>
      </thead>

      <!-- searchTerm will be passed as second argument to pipe-->
      <!-- added app-employee-item attr directive to tr instead of tbody-->
      <!-- passing employees on employee comp to employee input of employee-item component -->
      <!-- universal angular rule, left side is input in child comp and right side refers to parent property-->
      <tbody>
        <tr
          *ngFor="let emp of employees"
          app-employee-item
          [employee]="emp"
        ></tr>
      </tbody>
    </table>
  </ng-container>
</div>
